
h1, h2 {
    
    color: white;
    
}

p {
    
    color: white;
    
}

button {
    
    font-size: 95%;
    background-color: whitesmoke;
    border-width: 0px;
    border-radius: 5px;
    padding: 6px 8px;
    
}






